<% include partials/header.ejs %>
    <h2>Visit of <a href="/clients/<%=visit.client_id %>/visits/<%=visit.id%>"></a> Test </h2>
    <table>
        <thead>
            <th>Date</th>
            <th>Time</th>
            <th>Type of Service</th>
            <th>Note</th>
            <th>Cost</th>
            <th>Duration</th>
        </thead>
        <tbody>
        <tr>
            <td><%= visit.date %></td>
            <td>14:00</td>
            <td><%= visit.description %></td>
            <td>some text</td>
            <td>80 UAH</td>
            <td>0.25 h</td>
        </tr>
        <tr>
            <td></td>
            <td><button onclick="window.location.href='/clients/<%=visit.client_id%>/visits/<%=visit.id%>/edit'">Update visit</button></td>
        </tr>
        </tbody>
    </table>
</body>
</html>
