<% include partials/header.ejs %>
    <h2>Client's Info</h2>
    <div class="contact-info">
        <table>
            <tr>
                <td colspan="2"> <img src="/multimedia/avatar1.png" alt="Photo" title="Client's avatar"
                                  height="30%" width="30%"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><%= client.name %></td>
            </tr>
            <tr>
                <td>Surname</td>
                <td><%= client.surname %></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td><%= client.gender %></td>
            </tr>
            <tr>
                <td>Tel.</td>
                <td><%= client.phone %></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><%= client.email %></td>
            </tr>
        </table>
    </div>
    <hr>
    <h2>Last visit:</h2>
    <p><a href="/clients/<%= client.id %>/visits/895">18.05.2019</a></p>
    <p><a href="/clients/<%= client.id %>/visits">Show all client's visits</a></p>
    <button onclick="window.location.href='/clients/<%= client.id%>/visits/add'">Add New Visit</button>
</body>
</html>
