<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Client's Info</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Hairdresser's Clients</a>
    <button class="navbar-toggler" data-target="#collapsibleNavbar" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/clients">My Clients</a>
            </li>
        </ul>
    </div>
    <a class="navbar-right"  href="/login">Log out</a>
</nav>
    <h2>Client's Info</h2>
    <div class="contact-info">
        <table>
            <tr>
                <td colspan="2"> <img src="/multimedia/avatar1.png" alt="Photo" title="Client's avatar"
                                  height="30%" width="30%"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><%= client.name %></td>
            </tr>
            <tr>
                <td>Surname</td>
                <td><%= client.surname %></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td><%= client.gender %></td>
            </tr>
            <tr>
                <td>Tel.</td>
                <td><%= client.phone %></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><%= client.email %></td>
            </tr>
        </table>
    </div>
    <hr>
    <h2>Last visit:</h2>
    <p><a href="/clients/123/visits/456">18.05.2019</a></p>
    <p><a href="/clients/123/visits">Show all client's visits</a></p>
    <button onclick="window.location.href='/clients/123/visits/add'">Add New Visit</button>
</body>
</html>
